<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <service
            android:name="com.odysee.app.notifications.OdyseeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_odysee" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/odysee_pink" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="odysee_notifications" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.odysee.app.cast.CastOptionsProvider" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/updater_file_paths" />
        </provider>
    </application>
</manifest>
